<a [routerLink]="['/product', product.slug]">
    <div class="[ category-item  __wrapper ]">
        <div class="[ category-item __image-container ]">
            <img class="[ category-item __image ]" [ngSrc]="product.image" fill priority />
        </div>
        <div class="[ category-item __title ]">
            {{ product.name }}
        </div>
        <div class="[ category-item __description ]">
            {{ product.description }}
        </div>
        <div class="[ category-item __price ]">
            {{ product.price / 100 | currency: 'EUR' }}
        </div>
    </div>
</a>
