@if (category$ | async; as category) {
    <h2>
        Products in category: {{ category.name }}
    </h2>

    <div
        class="[ category-list  __wrapper ]"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        (scrolled)="onScrolled()"
    >
        @for (product of products$ | async; track product.slug) {            
            <category-item 
                [product]="product"
            />
        } @empty {
            <div class="[ category-list  __empty ]">
                <div class="[ category-list  __empty-shrug ]">
                    ¯\_(ツ)_/¯
                </div>
                <div class="[ category-list  __empty-text ]">
                    We have no items in this category. Sorry!
                </div>
            </div>
        }
    </div>
} @else {
    <loader />
}
