@use 'colors';

body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: colors.$background;
    color: colors.$text-primary;
}

a {
    color: colors.$text-primary;
    text-decoration: none;
}
